---
Language: Cpp

BreakBeforeBraces: Allman
IndentWidth: 4
AlignAfterOpenBracket: BlockIndent
PointerAlignment: Left

NamespaceIndentation: All
FixNamespaceComments: false

BinPackArguments: true

ColumnLimit: 120

AlwaysBreakTemplateDeclarations: Yes
---
