*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	background: #171717;
	color: #efefef;
	font-family: system-ui,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	letter-spacing: .01em;
	line-height: 1.6;
}

blockquote {
	padding-left: 2rem;
}

blockquote.quote {
	padding-left: 1rem;
	border-left: 0.3rem solid #d1d1d1;
	margin-left: 0;
	margin-right: 0;
}

blockquote *:last-child {
	margin-bottom: 0;
}

code {
	background-color: #282c34;
	color: #efefef;
	border-radius: .4rem;
	font-size: 86%;
	margin: 0 .2rem;
	padding: .2rem .5rem;
	white-space: nowrap;
}

pre {
	overflow-y: hidden;
}

code.language-latex,
code.language-mermaid {
	background-color: transparent;
	margin: 0 0;
	padding: .1rem .1rem;
}

pre>code {
	tab-size: 4;
	border-radius: 0;
	display: block;
	padding: 1rem 1.5rem;
	white-space: pre;
}

hr {
	border: 0;
	border-top: 0.1rem solid #f4f5f6;
	margin: 3.0rem 0;
}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
	color: #efefef;
	background-color: transparent;
	border: 0.1rem solid #d1d1d1;
	border-radius: .4rem;
	box-shadow: none;
	box-sizing: inherit;
	height: 3.8rem;
	padding: .6rem 1.0rem .7rem;
	width: 100%;
	font-size: 1.6rem;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
	border-color: #eb6434;
	outline: 0;
}

select {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%23d1d1d1" d="M0,0l6,8l6-8"/></svg>') center right no-repeat;
	padding-right: 3.0rem;
}

select:focus {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 8" width="30"><path fill="%239b4dca" d="M0,0l6,8l6-8"/></svg>');
}

select[multiple] {
	background: none;
	height: auto;
}

textarea {
	min-height: 6.5rem;
}

label,
legend {
	display: block;
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: .5rem;
}

fieldset {
	border-width: 0;
	padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
	display: inline;
}

a {
	color: #eb6434;
	text-decoration: none;
}

a:focus,
a:hover {
	color: #606c76;
}

dl,
ol,
ul {
	list-style: none;
	margin-top: 0;
	padding-left: 3.2rem;
}


ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  padding-left: 3.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.button,
button,
dd,
dt,
li {
	margin-bottom: 0.0rem;
}

fieldset,
input,
select,
textarea {
	margin-bottom: 1.0rem;
}

dl,
figure,
form,
ol,
p,
pre,
table,
ul,
blockquote,
.admon,
.language-presenter {
	margin-bottom: 1.2rem;
}

blockquote blockquote {
	margin-bottom: 0;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	overflow-x: auto;
	text-align: left;
	max-width: 100%;
}

td,
th {
	border: 0.1rem solid #666;
	padding: 0.5rem 0.8rem;
}

@media (min-width: 40rem) {
	table {
		display: table;
		overflow-x: initial;
	}
}

b,
strong {
	font-weight: bold;
}

p {
	margin-top: 0;
}

h1,
h2,
h3 {
	font-weight: 300;
	letter-spacing: -.1rem;
	margin-bottom: 0.7rem;
	margin-top: 0;
}

h1 {
	font-size: 4.6rem;
	font-weight: bold;
	line-height: 1.2;
}

h2 {
	font-size: 2.3rem;
	font-weight: bold;
	line-height: 1.15;
}

h3 {
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.1;
}

h1>small,
h2>small,
h3>small {
	display: block;
	color: #aaa;
	margin-bottom: 1.8rem;
}

h1>small {
	font-size: 1.9rem;
	font-weight: bold;
	line-height: 1.2;
}

h2>small {
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.15;
}

h3>small {
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.1;
}

img {
	max-width: 100%;
}

.admon {
	background: #222;
	padding: 1rem 1.3rem;
	border-left: 2px solid #49af90;
}

.admon::before {
	content: attr(data-label);
	font-weight: bold;
	display: block;
	margin-bottom: 1.0;
	color: #59bfa0;
}

.admon.note::before {
	color: #59a0ff;
}

.admon.note {
	border-left: 2px solid #4990ef;
}

.admon.hint::before {
	color: #8059ff;
}

.admon.hint {
	border-left: 2px solid #6049ef;
}

.admon.important::before {
	color: #ff4444;
}

.admon.important {
	border-left: 2px solid #ef4949;
}

.admon.warning::before {
	color: #dfbf33;
}

.admon.warning {
	border-left: 2px solid #cfaf22;
}

.admon.see-also::before {
	color: #ff3980;
}

.admon.see-also {
	border-left: 2px solid #ef2990;
}

.admon.tip::before {
	color: #59dd59;
}

.admon.tip {
	border-left: 2px solid #33af33;
}


td.cell-left {
	text-align: left;
}

td.cell-center {
	text-align: center;
}

td.cell-right {
	text-align: right;
}

ul.todo {
	padding-left: 1rem;
	list-style: none;
}

ul.todo ul.todo {
	padding-left: 3.2rem;
}

ul.todo>li>input[type=checkbox] {
	margin-bottom: 0;
	margin-right: 4px;
}

.footnote>sup {
	margin-right: 4px;
}

.footnote-desc {
	margin-bottom: 1.2rem;
}
.footnote-desc>p {
	font-size: 80%;
	margin-bottom: 0;
}

pre code.hljs {
	display: block;
}

code.hljs {
	display: inline;
}

article {
	max-width: 800px;
	padding: 10px 10px;
	margin: 0 auto;
}
